* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    // font-family: $mainFont;
}
a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Hero Section Start*/
#hero {
    background-image: url(/images/coffee-hero.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}